@model DataAccess.Profile

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Profile</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.User1.User_Type, "User Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserType", String.Empty)
                @Html.ValidationMessageFor(model => model.User1.User_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User1.Name, "Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User1.Name)
                @Html.ValidationMessageFor(model => model.User1.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User1, "Email", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User1.Email)
                @Html.ValidationMessageFor(model => model.User1.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User1.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User1.Password)
                @Html.ValidationMessageFor(model => model.User1.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User1.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User1.Password)
                @Html.ValidationMessageFor(model => model.User1.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, "Country", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Country", String.Empty)
                @Html.ValidationMessageFor(model => model.Country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Picture)
                @Html.ValidationMessageFor(model => model.Picture)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
